// Sass 공식문서
.one {
    font-size: 10px + 10px;
}

.two {
    font-size: 10px - 10px;
}

// 괄호가 있어야 합니다.
// 문자열로 반환
// .three {
//     font-size: 10px / 10;
// }

// 곱하기와 나누기는 2개의 단위가 달라도 에러가 나지 않습니다. 앞의 값으로 반환합니다.
.three {
    font-size: (10px / 10);
}

// error
// .four {
//     font-size: 10px * 10px;
// }
.four {
    font-size: 10px * 10;
}

// error
// .five {
//     font-size: 10px ** 10px;
// }

// 
.six {
    font-size: 10px % 3px;
}

.seven {
    font-size: 10px % 3;
}