body {
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%) no-repeat;
}

#app {
    text-align: center;
    min-height: 100vh;
}

.tit-logo {
    margin: 70px 0;
}

.cont-timer {
    width: 400px;
    height: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;   
}

.tit-timer {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.cont-inp {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: 700;
    color: #A5B6EE;
}

#timer-hrs,
#timer-min,
#timer-sec {
    outline-style: none;
    background-image: url(../img/box.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 80px;
    width: 80px;
    display: block;
    margin: 4px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}


.cont-footer {
    margin-top: 60px;
    font-weight: 400;
    font-size: 14px;
    color: #8596BF;
}