/* Resets */
h1, p {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

/* Layouts */
.wrapper {
    background-color: #efefef;
    width: 400px;
    margin: 100px auto;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #aaaaaa;
}

/* Components */
body {
    background-color: #dddddd;
}

.list-header {
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 4px solid #dddddd;
    padding: 40px 0px;
}

h1 {
    padding-left: 20px;
    border-left: 10px solid #ff1493;
    font-family: 'Public Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #ff1493;
}

.list-contents {
    padding: 30px 30px 18px 30px;
}

.list-contents > p {
    background-color: white;
    border: 4px solid #aaaaaa;
    border-radius: 6px;
    padding: 9px 15px;
    margin-bottom: 12px;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

p.blue {
    color: #1e91ff;
    border: 4px solid #1e91ff;
}