/* Reset */
html, body {
    margin: 0;
    padding: 0;
}

h2, p {
    font-size: inherit;
    margin: inherit;
}

/* Components */
.wrapper {
    background-image: url(./images/bg.png);
    background-size: cover;
    background-color: black;
    padding: 80px;
}

.section {
    width: 200px;
}

.fox {
    margin: 0 auto;
}

.bear {
    margin: -120px 15% 0; /* margin에 - 값을 설정하지 않고 배치할 수 있는 방법이 있을까? */
}

.squirrel {
    margin: -350px 68% 0;
}

.animal img {
    display: block;
    width: 100%; /* width 값을 auto로 설정했을 때, 부모 요소의 너비를 넘어가는 이유는? */
}

.land {
    background-color: rgb(147, 86, 45);
    padding: 8px 13px 13px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 7px 0 rgb(74, 38, 16) ;
}   

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: whitesmoke;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 10.5px;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.605);
    margin: 8px 0;
}